<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_FETCH_ONLINE_USERS</key>
	<string>$(API_FETCH_ONLINE_USERS)</string>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>API_LOGIN_URL</key>
	<string>$(API_LOGIN_URL)</string>
	<key>API_PORT</key>
	<string>$(API_PORT)</string>
	<key>API_SECURE</key>
	<string>$(API_SECURE)</string>
	<key>API_STROKE_POST_URL</key>
	<string>$(API_STROKE_POST_URL)</string>
	<key>API_WS_URL</key>
	<string>$(API_WS_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>heartbeat</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string></string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
